button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: .6em 1em .4em;
	border: 3px solid;
	border-color: #000;
	border-radius: 0;
	background: #fff;
	font-family:  $font_heading;;
	color: #000;
	font-size: em(12px);
	line-height: 1;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		border-color: #000;
		color: #fff;
	}

	&:active,
	&:focus {
		border-color: #000;
		color: #fff;
	}
}