button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: .6em 1em .4em;
	border: 3px solid;
	border-color: #000;
	border-radius: 0;
	background: #fff;
	font-family:  $font_heading;;
	color: #000;
	font-size: em(12px);
	line-height: 1;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		border-color: #000;
		color: #fff;
	}

	&:active,
	&:focus {
		border-color: #000;
		color: #fff;
	}
}


.continue-reading{
	text-align:center;
	&:after{
		content: "";
		display: block;
		margin: 4em auto 0;
		width: 7em;
		border-bottom: 1px solid #c3c3c3;
	}
	a{
		display: inline-block;
		margin: 1em auto;
		padding: 1em 2em;
		font-family: $font_read-more;
		text-decoration: none;
		border: 1px solid #c3c3c3;
		&:after{
			content: "...";
		}
		&:hover, &:focus{
			border-color: #000;
			border-width: 1px;
			box-shadow: none;
		}
	}
}

.entry-content .continue-reading a{
	display: inline-block;
	margin: 1em auto;
	padding: 1em 2em;
	font-family: $font_read-more;
	text-decoration: none;
	border: 1px solid #c3c3c3;
	&:hover, &:focus{
		border-color: #000;
		border-width: 1px;
		box-shadow: none;
	}
}