.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	font-family: $font_heading;
    font-style: italic;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
    .aligncenter{
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .alignright, .alignleft{
      margin-top: 0;
      margin-bottom: 1.5em;
    }
}

.wp-caption-text {
	text-align: center;
}
