img{
  .aligncenter{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .alignright{
    margin-bottom: 1.5em;
    // break point at 800px
    @media screen and (min-width: 50em){
      margin-right: -1.5em;
    }
  }
  .alignleft{
    margin-bottom: 1.5em;
    // break point at 800px
    @media screen and (min-width: 50em){
      margin-left: -1.5em;
    }
  }
}

.wp-caption{
  .alignright{
    // break point at 800px
    @media screen and (min-width: 50em) {
      margin-right: -15em;
    }
  }
  .alignleft{
    // break point at 800px
    @media screen and (min-width: 50em) {
      margin-left: -1.5em;
    }
  }
}


.centered-image, .featured-image{
  max-width: calc(100% + 2.8em);
  margin: 1.5em -1.4em;
  // break point at 480px
  @media screen and (min-width: 30em){
    max-width: calc(100% + 3.6em);
    margin: 1.5em -1.8em;
  }
}

.featured-image{
	margin-top: -1.4em;
	margin-bottom: 1.2em;
	// break point at 480px
	@media screen and (min-width: 30em){
		margin-top: -1.8em;
	}
	// break point at 800px
	@media screen and (min-width: 50em){
		margin-top: 3em;
	}
	a:hover, a:focus{
		img{
			outline: dotted;
		}
	}
	img{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

