
h1{
  @include heading-base;
  font-size: em(26px);
}

h2{
  @include heading-base;
  font-size: em(24px);
}

h3{
  @include heading-base;
  font-size: em(22px);
}

h4{
  @include heading-base;
  font-size: em(20px);
}

h5{
  @include heading-base;
  font-size: em(18px);
}

h6{
  @include heading-base;
  font-size: em(16px);
}