.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
    font-family: $font_heading;
    font-weight: 300;
    font-size: em(16px);
	ul {
      display: none;
      list-style: none;
      margin: 0;
      padding-left: 0;
    }
}


.main-navigation {
  a {
    display: block;
    padding: 0.8em 0;
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 400;
    text-decoration: none;
  	line-height: 1.6em;
    &:hover, &:focus {
      background: #fff;
      color: #000;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    ul {
      display: none;
      margin-left: 0.8em;
    }
    .toggled-on {
      display: block;
    }
  }
  li {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    position: relative;
  }
  .current-menu-item > a, .current-menu-ancestor > a {
    font-weight: 700;
  }
  .nav-menu > {
    ul > li:first-child, li:first-child {
      border-top: 0;
    }
  }
  .menu-item-has-children > a {
    padding-right: 48px;
  }
  .menu-item-description {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0.5em;
  }
  .toggled{
    position: fixed;
    bottom: 0;
    padding: 1em;
    z-index: 999;
    background: #000;
    ul{
      max-height: calc(100vh - 8em);
      overflow: auto;
      ul{
        display: none;
        .toggled-on, .toggled-on > ul{
          display: block;
        }
      }
    }
  }
}

.no-js .main-navigation ul ul {
  display: block;
}

.dropdown-toggle {
  position: absolute;
  height: 27px;
  width: 27px;
  top: 12px;
  right: 6px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: 'FontAwesome';
  background-color: #000;
  border: 1px solid #fff;
  content: "";
  color: #fff;
  /* Stop screen readers from reading the text as capital letters */
  text-transform: lowercase;
  &:after {
    content: "\f078";
  	font-size: 14px;
  	line-height: 27px;
    position: relative;
    top: 0;
    left: 1px;
    width: 27px;
  }
  &:hover {
    background-color: #fff;
  	color: #000;
  }
  &:focus {
    background-color: #fff;
    color: #000;
  }
  &.toggle-on:after {
    content: "\f077";
  }
}


.nav-menu{
  padding: 1em;
  margin-bottom: 3em;
  background: red;
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle{
  position: fixed;
  bottom: 1em;
  left: 1em;
  font-size: em(16px);
  text-transform: uppercase;
  color: #fff;
  background: $color__small__menu;
  border: solid 2px #fff;
  z-index: 999;
  transition: all ease-out 400ms;
  // style added to menu bottom to hide when scrolling down
  .hide{
    bottom: -3.5em;
  }
}


@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


