
.post-navigation, comment-navigation{
  padding: 2em 0;
  font-family: $font_heading;
  text-align: left;
  overflow: hidden;
  // break point at 800px
  @media screen and (min-width: 50em){
    padding: 2em 3em;
  }
  a{
    display: block;
    padding: 1em;
    width: 100%;
    border: 1px solid #c3c3c3;
    text-decoration: none;
    &:hover, &:focus{
      border-color: #000000;
      .post-title{
        text-decoration: underline;
      }
    }
  }
  .post-title{
    font-size: em(19px); //1.2em
    font-weight: 700;
  }
  .nav-previous {
    // break point at 480px
    @media screen and (min-width: 30em) {
      display: flex;
      align-items: stretch;
      float: left;
      width: 48%;
    }
    .nav-next {
      // break point at 480px
      @media screen and (min-width: 30em) {
        display: flex;
        align-items: stretch;
        float: right;
        width: 48%;
        text-align: right;
      }
    }
  }
}

.nav-links{
  margin-right: auto;
  margin-left: auto;
  padding: 0 .4em;
  // break point at 480px
  @media screen and (min-width: 30em){
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
  }
}

.nav-previous {
  padding-bottom: 1em;
  // break point at 480px
  @media screen and (min-width: 30em) {
    padding-bottom: 0;
  }
}