.comments-area{
	margin: 4em 0;
	// break point at 640px
	@media screen and (min-width: 40em){
		margin: 4em 1em;
	}
    // break point at 800px
    @media screen and (min-width: 50em){
      margin: 4em 3em;
    }
}

.comments-title{
  margin-bottom: 2em;
  font-size: 2em;
  text-align: center;
}

.comment-list{
  margin: 0;
  padding: 0;
  ol{
    list-style-type: none;
  }
}

.comment-body{
  margin-bottom: 3em;
  border-bottom: 3em;
}

.comment-meta{
  position: relative;
  margin-left: 70px;
  font-family: $font_heading;
  font-style: italic;
  font-size: 80%;
  // break point at 480px
  @media screen and (min-width: 30em){
    margin-left: 80px;
    font-size: 90%;
  }
}

.comment .avatar{
  position: absolute;
  top: -5px;
  left: -70px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  // break point at 480px
  @media screen and (min-width: 30em){
    top: -7px;
    left: -80px;
    width: 60px;
    height: 60px;
  }
}

.children{
  margin-left: 1em;
  padding-left: 0;
  // break point at 480px
  @media screen and (min-width: 30em){
    margin-left: 2em;
  }
  // break point at 800px
  @media screen and (min-width: 50em){
    margin-left: 3em;
  }
}

.comment-content a {
  word-wrap: break-word;
  // break point at 480px
  @media screen and (min-width: 30em){
    margin-left: 80px;
  }
}
.bypostauthor {
	display: block;
	.avatar{
		boxsizing: content-box;
		border: 5px solid #c3c3c3;
		margin-top: -5px;
		margin-left: -5px;
	}
}

/* Comment Form */

.comment-form{
	font-family: $font_comment_forms;
	line-height: 1.3em;
	a{
		font-weight: 500;
	}
	label{
		display:block;
		padding-bottom: .4em;
		font-style: italic;
	}
	.form-submit{
		margin-top: 3em;
		input{
			padding: .5em 1.4em;
			font-size: 85%;
			color: #333;
			text-decoration: none;
			line-height: 1.3em;
			border: 1px solid #c3c3c3;
			&:hover, &:focus{
				color: #fff;
				background: #000;
				border-color: #000;
			}
		}
	}
	.required{
		color: $color_comment_form_required;
	}
}

.comment-respond::after {
	content: "";
 	display: block;
 	margin: 2em auto 4em;
 	width: 5em;
 	border-bottom: 1px solid #c3c3c3;
 }
 
 .comment-reply-title {
 	margin-bottom: 1em;
	text-align: center;
 }
.comment-list .comment-reply-title {
	text-align: left;
 }