.content-area{
  overflow-x: hidden;
}

// breakpoint 960px
@media screen and (min-width: 60em){
	.sidebar-right{
		.content-area{
			float:left;
			width: calc(100% - 306px);
		}
		#secondary{
			margin: 0;
		}
		.site-content .widget-area{
			float: right;
			padding: 0 1.5em;
			width: 17em;
			border-left: 1px solid #ededed;
			overflow: hidden;
		}
	}
	
	.sidebar-left{
		.content-area{
			float:right;
			width: calc(100% - 306px);
		}
		#secondary{
			margin: 0;
		}
		.site-content .widget-area{
			float: left;
			padding: 0 1.5em;
			width: 17em;
			border-left: 1px solid #ededed;
			overflow: hidden;
		}
	}
	
	.sidebar-left, .sidebar-right{
		#secondary{
			margin: 0;
			padding: 0 1.8em;
			background-color:#fff;
			
		}
		.widget{
			margin-bottom: 0;
			padding: 0 1.8em;
			&::after{
				content: '';
				display: block;
				margin: 4em auto;
				width: 33%;
				border-bottom: 1px solid #c33c3c3;
				
			}
		}
	}
}

.entry-meta{
	// breakpoint at 912px
	@media screen and (min-width: 57em){
		position: relative;
	}
}


.sidebar-right{
	.entry-meta{
		// breakpoint at 1040px
		@media screen and (min-width: 57em){
			margin: 0;
			left: 0;
			width: 100%;
			width: calc(100vw - 306px);
		}
		// breakpoint at 1132px
		@media screen and (min-width: 70.75em){
			eft: calc((-100vw + 66.2em) / 2);
		}
	}
}


.sidebar-left{
	.entry-meta{
		// breakpoint at 1040px
		@media screen and (min-width: 57em){
			margin: 0;
			right: 0;
			left: 0;
			width: 100%;
			width: calc(100vw - 306px);
		}
		// breakpoint at 1132px
		@media screen and (min-width: 70.75em){
			left: calc((-100vw + 66.2em) / 2);
		}
	}
}

.site-main{
  margin: 1.4em;
  font-size: em(14.4px);
  line-height: 1.6em;
  // breakpoint at 480px
  @media screen and (min-width: 30em){
    margin: 1.8em;
  }
  // breakpoint at 640px
  @media screen and (min-width: 40em){
    font-size: em(16px);
  }
  // breakpoint at 912px
  @media screen and (min-width: 57em) {
    margin: 1.8em auto;
    max-width: 45em;
  }
}

.page-header::after{
	content: "";
	display:block;
	margin: 2em auto;
	width: 3.5em;
	border-bottom: 1px solid #c3c3c3;
	
}

.page-title{
	text-align:center;
	font-style: italic;
	font-size: em(22.4px); //1.4em
}